# So, what's all this then?
My goals here are to foster *interaction* on steem and provide visibility for good content.

## Why not just resteem
This is basically a UI issue; I've noted in my feed that some great accounts which resteem dozens of times a day tend to drown out other posts. Until there's a way to separate author-content from resteems in there general steem-verse (*i.e.* on Steemit), I don't like resteeming much.

## Criteria and format
The only *real* criterion I have is that the article should be something I was happy to have read.  Ideally, it would be recent enough to still be active for 3 to 4 days after I post. A few other other things:
* There's no restriction on category, though I tend to read more STEM/nerdy stuff
* The list is not exhaustive
* If I left you off, it's not because I don't think your post was worth reading
* I'm still figuring out how to arrange topics
* Post order is like the point system on 'Whose Line Is It Anyway' - *meaningless*
* If you're a prolific author, I might only list one post in full format, then mention others.
* If I post your stuff a lot, I may leave you out from time to time to make room for others.
* If time allows, I may provide commentary on posts, but right now I'm letting them stand on their own merits.
* Artists! I'm trying to post your art in such a way that people can see enough of it to know if they want to follow the link. I definitely don't want to just repost your stuff in full resolution. Let me know what makes you happy.

# Call to Action
I enjoyed compiling this list and **you can do it, too**.  Even if your vote counts for nothing and you have 3 whole followers, start keeping track of what you actually liked reading and *let the world know about it*.  I don't *think* there's a relevant tag yet, so let's go ahead and use #readinglog. If there is a better tag out there, let me know.

Remember, a community without interactions is *just a bunch of people*. Comment, vote, promote, even resteem! 

# Copyright Info
Logo modified from [CC0](https://creativecommons.org/publicdomain/zero/1.0/deed.en) material on [Pixabay](https://pixabay.com/en/bible-book-hands-others-reading-2026336/) by [OpenClipart-Vectors](https://pixabay.com/en/users/OpenClipart-Vectors-30363/), and released under the same.

Preview images are from the referenced posts and source information should be contained therein. Preview text is directly quoted from post and the property of that post's author(s).